@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .nav-overlay {
    @apply fixed inset-0 z-20 w-full bg-gray-500 bg-opacity-50 transition-transform duration-300 ease-in-out;
  }
  .nav-menu {
    @apply fixed inset-0 z-30 h-[120px] bg-white transition-transform duration-300 ease-in-out;
  }
  .main-container {
    @apply flex min-h-screen w-full flex-col items-center justify-center bg-[#151515];
  }
  .gradient-text {
    @apply bg-gradient-to-r from-purple-600 via-pink-600 to-blue-600 bg-clip-text text-transparent;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 300%;
  animation: gradientAnimation 5s ease-in-out infinite;
}
